{% extends 'base.html' %}
{% load static %}

{% block title %} Buildings {% endblock %} 

{% block content %}
    <!-- Buildings -->
    <div class="container-fluid">
        <div class="sub-box">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 search-col">
                            <form method="post" class="d-flex gap-3" autocomplete="off">
                                {% csrf_token %}
                                <input type="text" class="form-control form-control-lg" name="search" placeholder="Building Name / Building Type">
                                <button type="submit" class="btn btn-lg search">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3 table-responsive">
                    <table class="table table-hover table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle">Building Name</th>
                                <th scope="col" class="align-middle">Building Type</th>
                                <th scope="col" class="align-middle">Rooms</th>
                                <th scope="col" class="align-middle">Owner Name</th>
                                <th scope="col" class="align-middle">Mobile Number</th>
                                <th scope="col" class="align-middle">Lease Period</th>
                                <th scope="col" class="align-middle">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in building_list %}
                            <tr>
                                <td class="align-middle">{{list.building_name}}</td>
                                <td class="align-middle">{{list.building_type}}</td>
                                <td class="align-middle">{{list.number_of_rooms}}</td>
                                <td class="align-middle">{{list.name_of_owner}}</td>
                                <td class="align-middle">{{list.mobile_number}}</td>
                                <td class="align-middle">{{list.current_lease_period}}</td>
                                <td class="d-flex justify-content-between gap-3">
                                    <a href="{% url 'update_building' list.id %}" class="btn update">Update</a>
                                    <form action="{% url 'delete_building' list.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn delete">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}