{% extends 'base.html' %}
{% load static %}

{% block title %} Customers {% endblock %} 

{% block content %}
    <!-- Buildings -->
    <div class="container-fluid">
        <div class="sub-box">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 search-col">
                            <form action="" class="d-flex gap-3">
                                <input type="text" class="form-control form-control-lg" id="search" >
                                <button type="submit" class="btn btn-lg search">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3 table-responsive">
                    <table class="table table-hover table-bordered text-center ">
                        <thead>
                            <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">ID Type</th>
                            <th scope="col" class="align-middle">ID No.</th>
                            <th scope="col" class="align-middle">Mobile No.</th>
                            <th scope="col" class="align-middle">Building Name</th>
                            <th scope="col" class="align-middle">Room No.</th>
                            <th scope="col" class="align-middle">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customer_list %}
                                <tr>
                                <td class="align-middle">{{customer.customer_name}}</td>
                                <td class="align-middle">{{customer.id_type}}</td>
                                <td class="align-middle">{{customer.id_number}}</td>
                                <td class="align-middle">{{customer.mobile_number}}</td>
                                <td class="align-middle">{{customer.building_name}}</td>
                                <td class="align-middle">{{customer.room_number}}</td>
                                <td class="d-flex justify-content-between gap-3">
                                    <a href="{% url 'update_customer' customer.id %}" class="btn update">Update</a>
                                    <form action="{% url 'delete_customer' customer.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn delete">
                                    </form>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
