{% extends 'base.html' %}
{% load static %}

{% block title %} NewBuilding {% endblock %} 

{% block content %}
    <!-- New Building -->
    <div class="container-fluid">
        <div class="main-box">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-start flex-column">
                    <h1 class="mb-4 mt-2">Building</h1>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="building_name" class="form-label">building name</label>
                                    {{ form.building_name }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="name_of_owner" class="form-label">name of owner</label>
                                    {{ form.name_of_owner }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <label for="building_type" class="form-label">building type</label>
                                {{ form.building_type }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="mobile_number" class="form-label">mobile number</label>
                                    {{ form.mobile_number }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="number_of_rooms" class="form-label">number of rooms</label>
                                    {{ form.number_of_rooms }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-5">
                                    <label for="current_lease_period" class="form-label">current lease period</label>
                                    {{ form.current_lease_period }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="submit" class="btn btn-lg mb-4">Submit</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="reset" class="btn btn-lg">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}