{% extends 'base.html' %}
{% load static %}

{% block title %} Receipts {% endblock %} 

{% block content %}
    <!-- Buildings -->
    <div class="container-fluid">
        <div class="sub-box">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 search-col">
                            <form action="" class="d-flex gap-3">
                                <input type="text" class="form-control form-control-lg" id="search" >
                                <button type="submit" class="btn btn-lg search">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3 table-responsive">
                    <table class="table table-hover table-bordered text-center ">
                        <thead>
                            <tr>
                            <th scope="col" class="align-middle">Date</th>
                            <th scope="col" class="align-middle">Customer Name</th>
                            <th scope="col" class="align-middle">Start Date</th>
                            <th scope="col" class="align-middle">End Date</th>
                            <th scope="col" class="align-middle">Room No.</th>
                            <th scope="col" class="align-middle">Amount</th>
                            <th scope="col" class="align-middle">Comment</th>
                            <th scope="col" class="align-middle">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for receipt in receipts %}
                                <tr>
                                    <td class="align-middle">{{receipt.date}}</td>
                                    <td class="align-middle">{{receipt.customer_name}}</td>
                                <td class="align-middle">{{receipt.start_date}}</td>
                                <td class="align-middle">{{receipt.end_date}}</td>
                                <td class="align-middle">{{receipt.room_number}}</td>
                                <td class="align-middle">{{receipt.amount}}</td>
                                <td class="align-middle">{{receipt.comment}}</td>
                                <td class="d-flex justify-content-between gap-3">
                                    <a href="{% url 'update_receipt' receipt.id %}" class="btn update">Update</a>
                                    <a href="{% url 'delete_receipt' receipt.id %}" class="btn delete">Update</a>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
