{% extends 'base.html' %}
{% load static %}

{% block title %} Rooms {% endblock %} 

{% block content %}
    <!-- Buildings -->
    <div class="container-fluid">
        <div class="sub-box">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-9 search-col">
                            <form action="" class="d-flex gap-3">
                                <input type="text" class="form-control form-control-lg" id="search" >
                                <button type="submit" class="btn btn-lg search">Search</button>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 d-flex gap-3">
                            <a href="" class="btn btn-lg delete">Delete</a>
                            <a href="" class="btn btn-lg edit">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-3 table-responsive">
                    <table class="table table-hover table-bordered text-center ">
                        <thead>
                            <tr>
                            <th scope="col" class="align-middle">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onClick="toggle(this)">
                            </th>
                            <th scope="col" class="align-middle">Room No.</th>
                            <th scope="col" class="align-middle">Rent Category</th>
                            <th scope="col" class="align-middle">Room Status</th>
                            <th scope="col" class="align-middle">Meter No.</th>
                            <th scope="col" class="align-middle">Account No.</th>
                            <th scope="col" class="align-middle">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="check_box">
                            </th>
                            <td>111</td>
                            <td>small</td>
                            <td>occupied</td>
                            <td>KHSGFJ5467890</td>
                            <td>10075698741</td>
                            <td>Room is in good condition</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}