{% extends 'base.html' %}
{% load static %}

{% block title %} NewRoom {% endblock %} 

{% block content %}
    <!-- New Room -->
    <div class="container-fluid">
        <div class="main-box new_room">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-start flex-column">
                    <h1 class="mb-4 mt-2">UpdateRoom</h1>
                    <form autocomplete="off" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="room_number" class="form-label">room Number</label>
                                    {{ form.room_number }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="comments" class="form-label">building name</label>
                                    {{ form.building_name }}
                                </div>
                            </div>
                           
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="room_category" class="form-label">room type</label>
                                    {{ form.room_type }}
                                </div>
                            </div>
                           
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="room_status" class="form-label">room status</label>
                                    {{ form.room_status }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-5">
                                    <label for="meter_number" class="form-label">meter number</label>
                                    {{ form.meter_number }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-5">
                                    <label for="account_number" class="form-label">account number</label>
                                    {{ form.account_number }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="submit" class="btn btn-lg mb-4">Submit</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="reset" class="btn btn-lg">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}