{% extends 'base.html' %}
{% load static %}

{% block title %} Update Customer {% endblock %} 

{% block content %}
    <!-- Update Customer -->
    <div class="container-fluid">
        <div class="main-box new_customer">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-start flex-column">
                    <h1 class="mb-4 mt-2">Update Customer</h1>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">name</label>
                                    {{form.customer_name}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="mobile_number" class="form-label">mobile number</label>
                                    {{form.mobile_number}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <label for="id_type" class="form-label">id type</label>
                                {{form.id_type}}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="id_number" class="form-label">id number</label>
                                    {{form.id_number}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="building_name" class="form-label">building name</label>
                                    {{form.building_name}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <div class="mb-5">
                                    <label for="room_number" class="form-label">room number</label>
                                    {{form.room_number}}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="submit" class="btn btn-lg mb-4">Submit</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <button type="reset" class="btn btn-lg">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}